bcrypt==4.2.1
blinker==1.9.0
cffi==1.14.6
chardet==5.2.0
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
cryptography==3.4.8
dask==2024.12.0
et_xmlfile==2.0.0
Flask==2.1.1
fsspec==2024.12.0
gevent==22.10.0
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.0.3
locket==1.0.0
lxml==4.9.2
MarkupSafe==2.1.1
numpy==1.21.4
openpyxl==3.0.10
packaging==21.3
pandas==1.5.3
paramiko==2.9.2
partd==1.2.0
pyarrow==6.0.1
pycparser==2.20
PyNaCl==1.5.0
python-dateutil==2.8.2
pytz==2022.5
PyYAML==6.0.2
setuptools==59.5.0
six==1.16.0
toolz==0.11.2
tzdata==2022.5
Werkzeug==2.1.1
xlrd==2.0.1
xlwings==0.24.9
zope.event==4.5.0
zope.interface==5.4.0
